body {
	margin:40px auto;
	max-width:650px;
	line-height:1.6;
	font-size:18px;
	color:#222;
	padding:0 10px;
	background-color: #EEEEEE;
}
h1,h2,h3 {
	line-height:1.2
}

#header::before {
	content: "Damn Dude!";
}

#line1::before {
	content: "You managed to sucessfully build a working multithreaded webserver in C++, using nothing but the STL and winsock!";
}

#line2::before {
	content: "Congratulations."
}

#line3::before {
	content: "You must feel proud of yourself. Are you happy yet?"
}

.center {
	display: block;
	margin: auto;
}